<div class="image_choise throw_click <%= additional_class%>" data-action="<%= action %>">
  <div class="first">
    
      <%= image_tag("#{action.capitalize}", class: 'throw')%>
    
  </div>
  <div class="second"><%= text %></div>
</div>